.hand-print {
   margin: 0 .6rem;
   width: 1.93rem;
   height: 1.87rem;
   vertical-align: baseline;
}

.hand-print.big {
   margin: 0 1.2rem;
   width: 4rem;
   height: 3.8rem;
   vertical-align: top;
}