.hand-print {
   margin: 0 .6rem;
   width: 1.93rem;
   height: 1.87rem;
   vertical-align: baseline;
}

.hand-print.big {
   margin: 0 1.2rem;
   width: 4rem;
   height: 3.8rem;
   vertical-align: top;
}

.hand-print.baseline {
   vertical-align:baseline;
}
.hand-print.bottom {
   vertical-align:bottom;
}
.hand-print.middle {
   vertical-align:middle;
}
.hand-print.sub {
   vertical-align:sub;
}
.hand-print.super {
   vertical-align:super;
}
.hand-print.text-bottom {
   vertical-align:text-bottom;
}
.hand-print.text-top {
   vertical-align:text-top;
}
.hand-print.top {
   vertical-align:top;
}