.map-container {
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   box-shadow: var(--img-box-shadow);
}

.address-title {
   color: var(--dark-text);
}

.adress {
   font-size: 1.2rem;
}

.google-map-container {
   margin-top: 2rem;
   width: 100%;
   height: 500px;
}