:root {
   --min-height: calc(100% - var(--header-height));
}

.guides-wrapper {
   position: fixed;
   width: 100%;
   z-index: -1;
   display: flex;
   height: 100%;
}

.guide {
   min-height: var(--min-height);
   width: 20%;
   border-right: 1px grey dashed;
   border-left: 1px grey dashed;
   opacity: 15%;
}

.rainbow-waves {
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   top: calc(var(--header-height));
   z-index: -2;
   overflow-x: hidden;
}

.rainbow-waves-img {
   opacity: 70%;
}