.header-wrapper {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   height: var(--header-height);
   background: linear-gradient(var(--secondary), rgba(77, 11, 183, .70));
   display: flex;
   justify-content: center;
   z-index: 999;
   padding: 0 32px;
}

.header-wrapper.active {
   background: var(--secondary);
}

.navbar-wrapper {
   width: 60%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 3%;
}

.socials-wrapper {
   width: 10%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   gap: 15%;
   align-items: center;
}

.mobile-menu-icon-wrapper {
   position: relative;
   display: none;
   aspect-ratio: 1/1;
   height: 100%;
}

#menu-icon {
   cursor: pointer;
}

.logo-wrapper {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-link {
   min-height: 35px;
   max-height: 35px;
   min-width: 35px;
   max-width: 35px;
   display: flex;
   align-items: center;
}

.social-icon {
   height: 100%;
   width: 100%;
}

.logo {
   height: 55%;
}

.mobile-menu-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   max-width: 680px;
   width: 100%;
   height: 100%;
   padding: 60px 32px;
   background-color: var(--secondary);
   transform: translateX(-100%);
   opacity: 0%;
   transition: all 200ms ease-out;
}

.mobile-menu-wrapper.active {
   opacity: 100%;
   transform: translateX(0);
}

.mobile-menu-links-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.mobile-menu-links-wrapper>.navlink-wrapper>.navlink>.navlink-text {
   font-size: 1.5rem;
}

#upper, #middle, #bottom {
   transform-box: fill-box;
   transform-origin: center;
   transition: all 300ms;
}

#upper.active {
   transform: translateY(10px) rotateZ(-45deg);
}

#middle.active {
   transform: rotateZ(45deg);
}

#bottom.active {
   transform: translateY(-10px) rotateZ(-45deg);
}

@media(max-width: 1024px) {
   .navbar-wrapper {
      display: none;
   }
   .socials-wrapper {
      width: 30%;
   }
   .header-wrapper {
      justify-content: space-between;
   }
   .mobile-menu-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

