.cards-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   flex: 1;
}

.card-wrapper {
   min-width: 500px;
   flex: 1;
   min-height: 620px;
   padding: 16px;
}

@media(max-width: 510px) {
   .card-wrapper {
      min-width: 270px;
   }
}

.card {
   color: var(--dark-text);
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
   border-radius: 1.5rem;
   transition: all 300ms ease-in-out;
}

.card:hover {
   transform: scale(1.05);
}

.card-image-wrapper {
   border-radius: inherit;
   width: 100%;
   height: 50%;
}

.card-text-wrapper {
   width: 100%;
   height: 100%;
   padding: 16px;
   display: flex;
   flex-direction: column;
}

.card-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: inherit;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.card-title {
   font-size: 2.5rem;
   margin-top: 32px;
}

.point {
   font-size: 1.6rem;
}

.point-list {
   line-height: 2.5rem;
   list-style: none;
}

.card-text-wrapper.center {
   align-items: center;
}