:root {
   --min-height: calc(100% - var(--header-height));
}

.guides-wrapper {
   position: absolute;
   width: 100%;
   z-index: -999;
   display: flex;
   min-height: var(--min-height);
}

.guide {
   min-height: var(--min-height);
   width: 20%;
   border-right: 1px grey dashed;
   border-left: 1px grey dashed;
   opacity: 15%;
}