.features-wrapper {
   width: 100%;
   height: 100%;
   font-size: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1rem;
   margin-bottom: 5rem;
}

.feature-wrapper {
   color: var(--dark-text);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
   font-size: .7em;
   min-width: calc(var(--layout-width) / 4 - 1px);
   padding: 20px;
}

@media (max-width: 1111px) and (min-width: 574px) {
   .feature-wrapper {
      min-width: 50%;
   }
}

.benefits-wrapper {
   font-size: 1rem;
   color: var(--dark-text);
}

.benefit-wrapper {
   display: flex;
   gap: 5%;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   border-bottom: 1px dashed var(--dark-text);
}

.benefit-img {
   width: 100%;
   border-bottom-left-radius: 10rem;
   box-shadow: var(--img-box-shadow);
}

.benefit-title {
   font-size: 2.5em;
}

.benefit-description {
   opacity: 80%;
   font-size: 1.2em;
   line-height: 1.5em;
}

.benefit-text-wrapper {
   width: 50%;
}

.benefit-img-wrapper {
   width: 50%;
}

.feature-icon {
   width: 45px;
   height: 45px;
}

.feature-name {
   margin-top: 8px;
}

.dark {
   background: linear-gradient(var(--secondary), #0d018c);
}

.row-reverse {
   flex-direction: row-reverse;
}

/* .even {
   background-color: rgba(77, 11, 183, .9);
}

.odd {
   background-color: rgba(77, 11, 183, .8);
} */