.hero-wrapper {
   width: 60%;
   margin: 0 auto;
   margin-top: 8rem;
   display: flex;
   gap: 5%;
}

.hero-landing {
   width: 50%;
   min-width: 520px;
   flex-direction: column;
   color: var(--dark-text);
}

.hero-title {
   margin-bottom: 2rem;
}

.hero-title {
   font-size: 5.5rem;
   font-weight: 600;
}

.hero-description {
   width: 85%;
   font-size: 1.2rem;
   font-weight: 400;
   line-height: 2rem;
   margin-bottom: 1.5rem;
}

.hero-visual {
   height: 100%;
   width: 100%;
}

.hero-image {
   height: 500px;
   width: 700px;
   border-radius: 1rem 1rem 1rem 15rem;
   box-shadow: 0 0 20px 2px rgba(0, 0, 0, .25);
}