:root {
   --primary: #ECF8F9;
   --secondary: #068DA9;
   --tertiary: #7E1717;
   --quaternary: #E55807; 
}

* {
   box-sizing: border-box;
}

html {
   font-family: sans-serif;
}

body {
   background-color: #ECF8F9;
   margin: 0;
}