.header-wrapper {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   height: var(--header-height);
   background: var(--secondary);
   display: flex;
   justify-content: center;
}

.navbar-wrapper {
   width: 60%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 3%;
}

.socials-wrapper {
   width: 10%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   gap: 15%;
   align-items: center;
}

.logo-wrapper {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-link {
   min-height: 35px;
   max-height: 35px;
   min-width: 35px;
   max-width: 35px;
   display: flex;
   align-items: center;
}

.social-icon {
   height: 100%;
   width: 100%;
}

.logo {
   height: 55%;
}

.triangle {
   display: inline-block;
   border-top: calc(var(--header-height) * .4) solid var(--secondary);
   border-left: calc(var(--header-height) * .7) solid var(--primary);
   border-right: calc(var(--header-height) * .7) solid var(--primary);
   background-color: var(--secondary);
}

.triangles-wrapper {
   width: 20000vw;
}